.test{
    position: absolute;
    top: 50px;
    left: 270px;
}

.test2{
    position: absolute;
    top: 50px;
    right: 300px;
}

.test3{
    position: absolute;
    top: 420px;
    left: 510px;
}

.test4{
    position: absolute;
    top: 480px;
    left: 450px;
}

.test5{
    position: absolute;
    top: 500px;
    left: 500px;
}

.test6{
    position: absolute;
    top: 120px;
    left: 350px;
}

.test7{
    position: absolute;
    top: 180px;
    left: 350px;
}

.test8{
    position: absolute;
    top: 240px;
    left: 350px;
}

.test9{
    position: absolute;
    top: 120px;
    left: 750px;
}

.test10{
    position: absolute;
    top: 185px;
    left: 750px;
}

.test11{
    position: absolute;
    top: 245px;
    left: 750px;
}